.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the height covers the entire viewport */
  overflow: hidden; /* Prevent elements from overflowing */
}
.formDiv flex{
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .videoDiv,
  .formDiv {
      width: 100%;
  }
}
